extends ./base.pug

block append css
  if (localData.cssFiles)
    each cssFile in localData.cssFiles
      link(href=cssFile rel="stylesheet")
block body
  
  include ./navbar.pug
  
  br
  
  #root
    
  block append js
    script(src=localData.jsFile)
